*{
    box-sizing: border-box;
    background-color: #d7d7d7;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}
p{
    font-size: 16px;
    padding: 10px;
}
span{
    color: teal;
}
h1{
    font-size: 2em;
    color : #47a02c;
}
h2{
    color: rgba(4, 196, 138, 0.4);
}
img {
    border: 1px dotted #fff;
    width: 400px;
    border-radius: 50%;
}
.imag{
    margin: 0 auto;
    width: 100%;
}
